/* Add 50px padding on both left and right side of the form */
.form-container {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}

/* Style the form elements */
form label {
  display: block;
  margin: 10px 0 5px;
}

form input,
form select,
form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  opacity: 0.8;
}

/* Style the subscription table */
.table-container {
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures equal width columns */
}

table th,
table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  word-wrap: break-word; /* Ensures long text fits within cells */
}

table th {
  background-color: #f4f4f4;
}

/* Flexbox layout for action buttons (Edit and Delete) */
.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  width: 120px; /* Ensures both buttons have the same width */
  text-align: center; /* Centers the text */
}

.edit {
  background-color: #4caf50;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.edit:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(72, 163, 72, 0.6);
}

.edit:active {
  background-color: #388e3c;
  transform: translateY(2px);
}

.delete {
  background-color: #f44336;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete:hover {
  background-color: #e53935;
  transform: translateY(-2px);
}

.delete:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(244, 67, 54, 0.6);
}

.delete:active {
  background-color: #c62828;
  transform: translateY(2px);
}

.sub_btn {
  background-color: #4caf50;
  color: white;
  padding: 12px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  width: 100%;
  max-width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.sub_btn:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.sub_btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(72, 163, 72, 0.6);
}

.sub_btn:active {
  transform: translateY(2px);
}
